@import "markup.css";
@import "markupinfo.css";
@import "searchresult.css";
@import "common.css";
@import "dialog.css";
@import "review.css";
@import "suppor-comment.css";
@import "landing.css";
@import "search.css";
@import "favorite.css";
@import "accordion.css";
/* ------------------------------*/

html {
    font-size: 0.625rem;
}

body {
    margin: 0;
    font-family: "Noto Sans KR", sans-serif;
    background: #fffaf5;
    overflow: hidden;
}

/* ------------------------------
   지도 영역
------------------------------ */
.map-area {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../assets/images/background.jpg") no-repeat center center / cover;
}



